
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('/fonts/Montserrat/Regular/Montserrat-Regular.eot'); /* IE9 Compat Modes */
    src: url('/fonts/Montserrat/Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/Montserrat/Regular/Montserrat-Regular.woff') format('woff2'), /* Super Modern Browsers */
         url('/fonts/Montserrat/Regular/Montserrat-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('/fonts/Montserrat/Regular/Montserrat-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  }